{% extends "base.html" %}
{% load static %}
{% block css_files %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'blog/css/file_style.css' %}">
{% endblock %}

{% block title %} Upload {% endblock %}

{% block content %}  

{% load crispy_forms_tags %}  
   
        <div class="container">

          <!--Django Form-->
          <h2 class="my-4">Add a new File</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
              {{form|crispy}}
                <button class="btn btn-dark my-4" type="submit">Submit</button>
          </form>
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-lg-6 col-xl-6">
                                    <h4 class="header-title m-b-30">My Files</h4>
                                </div>
                            </div>
                            <div class="row">
                            {% for m in movies %}

                              <div class="col-lg-3 col-xl-2">
                                <div class="file-man-box"><a href="" class="file-close"><i class="fa fa-times-circle"></i></a>
                                    <div class="file-img-box"><img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/xls.svg" alt="icon"></div><a href="{{m.file.url}}" class="file-download"><i class="fa fa-download"></i></a>
                                    
                                    <div class="file-man-title">
                                        <h5 class="mb-0 text-overflow">{{m.file.name}}</h5>
                                        <p class="mb-0"><small>{{m.file.size|filesizeformat}}</small></p>
                                    </div>
                                </div>
                              </div>
                            {% empty %}
                            <p>No movies added.</p>
                            {% endfor %}
                          </div>
                        </div>
                    </div>
                </div>   
              </div> 
{% endblock %}